*{
    margin: 0;
     box-sizing: border-box;
}

html, body{
    height: 100%;
    overflow:hidden;
}

body {
    margin: 0;
    background-color: #FFFFFF;
    font-family: 'balneario', sans-serif;
    display: flex;             
    align-items: center;       
    justify-content: flex-start;  
    padding-left: 50px;         
    height: 100vh;                
}

.big-container {
    display: flex;          
    gap: 50px; 
    align-items: flex-start ;            
}

.text-container{
    display: flex;
    flex-direction: column ;
}

.basket {
    max-width: 700px;
    height: auto;
    justify-content:flex-start;
}

.basket-text {
    color: #007BFF;    
    font-size: 130px;
    font-weight: 700;
    font-style: normal;
    line-height: 1;
}

.mini-basket-text{
    color: #FFC5D3;    
    font-size: 50px;
    font-weight: 700;
    line-height: 1;

}

