*{
    margin: 0;
     box-sizing: border-box;
}

html, body{
    height: 100%;
    overflow: hidden;
}

body {
  margin: 0;
  background-color: #008080;            
}

.big-container{
   position: relative;
   width: 100%;
   height: 100vh;
}

.click-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    cursor: url('assets/paintbrush.png'), auto; 
    transition: width 0.3s ease, height 0.3s ease;

}

.click-image:hover {
    transform: translate(-50%, -50%) scale(1.05)
}

.hand{
    position: fixed;
    width: 300px;
    height: 300px;
   background-image: url("assets/hand.png");
   background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: 20px;
    right: 20px;
    transition: width 0.3s ease, height 0.3s ease;
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
    .click-image {
        width: 450px;
    }

    .hand {
        width: 250px;
        height: 250px;
    }
}

@media screen and (max-width: 767px) {
    .click-image {
        width: 350px;
    }

    .hand {
        width: 175px;
        height: 175px;
    }
}
