*{
    margin: 0;
     box-sizing: border-box;
}

html, body{
    height: 100%;
    overflow: hidden;
}

body {
   margin: 0;
  height: 100vh;
  background-size: cover;
  background-position: center;
  animation: bgSwitch 3s infinite;               
}

.big-container{
   position: relative;
   inset:0;
}

.hand{
    position: absolute;
    width: 200px;
   height: auto;
    top: 10%;
    left: 87%;
}

.nyancat{
    position: absolute;
   width: 450px;
   height: auto;
}


@keyframes bgSwitch {
  0%, 49% {
    background-image: url("assets/starsbg1.png");
  }
  50%, 100% {
    background-image: url("assets/starsbg2.png");
  }
}