*{
    margin: 0;
     box-sizing: border-box;
}

html, body{
    height: 100%;
}

.big-container{
    position: relative;
    width: 100vw;
    height: 100vh;
}


.background{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: fill;
}

.sticker{
    top: 19%;
    left: 15%;
    width: 60%;
    height: 60%;
    position: absolute;
    object-fit: fill;

    animation: pulse .7s infinite ease-in-out;
}

@keyframes pulse{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

.button{
    position: absolute;
    top: 24%;
    left: 74%;
    width: 16%;
    height: 10%;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 10;

}

.hand{
    top: 55%;
    left: 80%;
    width: 20%;
    height: 20%;
    position: absolute;
    object-fit: fill;
}