*{
    margin: 0;
     box-sizing: border-box;
}

html, body{
    height: 100%;
    overflow:hidden;
}

body {
  margin: 0;
  background-image: url("assets/windowsbg.png");
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat;
  height: 100vh;                
}

.big-container{
   position: relative;
   width: 100%;
   height: 100vh;
}

.hand{
    position: absolute;
    width: 200px;
   height: 200px;
   background-image: url("assets/hand.png");
   background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: 50px;
    left: 1000px;
}

.button{
    position: absolute;
    width: 150px;
   height: 150px;
   background-color: transparent;
    top: 50px;
    left: 1000px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


#popup-link {
    position: absolute;   
    top: 300px;              
    left: 500px;
    display: none;         
    z-index: 100;            
}


#popup-link img {
    width: 400px;          
    height: auto;            
    display: block;           
    cursor: pointer;          
    transition: transform 0.2s ease, filter 0.2s ease;
}

#popup-link img:hover {
    transform: scale(1.05);
    filter: brightness(1.2);
}

.pug {
   position: absolute;
   width: 250px;
   height: 250px;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   cursor: pointer;
   transition: transform 0.2s ease;
}

.s1 {
    background-image: url("assets/s1np.png");
    top: 50px;
    left: 100px;
}
.s1:hover {
    background-image: url("assets/s1wp.png");
    filter: brightness(1.3);
}


.s2 {
    background-image: url("assets/s2np.jpg");
    top: 150px;
    left: 500px;
}
.s2:hover {
    background-image: url("assets/s2wp.png");
    filter: brightness(1.3);
}


.s3 {
    background-image: url("assets/s3np.png");
    top: 350px;
    left: 200px;
}
.s3:hover {
    background-image: url("assets/s3wp.png");
    filter: brightness(1.3);
}


.s4 {
    background-image: url("assets/s4np.png");
    top: 500px;
    left: 700px;
}
.s4:hover {
    background-image: url("assets/s4wp.png");
    filter: brightness(1.3);
}


@media screen and (min-width: 1200px) {
    .pug { width: 20vw; height: 20vw; }
    .s1 { top: 8%; left: 5%; }
    .s2 { top: 20%; left: 50%; }
    .s3 { top: 55%; left: 20%; }
    .s4 { top: 50%; left: 80%; }
    .hand{ top: 8%; left: 80%; }
    .button{top: 8%; left: 80%; }
}

@media screen and (min-width: 601px) and (max-width: 1199px) {
    .pug { width: 18vw; height: 18vw; }
    .s1 { top: 10%; left: 10%; }
    .s2 { top: 25%; left: 50%; }
    .s3 { top: 50%; left: 25%; }
    .s4 { top: 70%; left: 75%; }
    .hand{ top: 8%; left: 70%; }
    .button{ top: 8%; left: 70%; }
}

@media screen and (max-width: 600px) {
    .pug { width: 19vw; height: 19vw; }
    .s1 { top: 5%; left: 10%; }
    .s2 { top: 30%; left: 40%; }
    .s3 { top: 55%; left: 15%; }
    .s4 { top: 70%; left: 60%; }
    .hand{ top: 8%; left: 60%; }
    .button{top: 8%; left: 60%; }
}